@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}
.add-bg {
  background-image: url("/public/images/bg.png");
}
.hero__footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
flex-wrap: wrap;
  padding: 30px;
}

.hero__footer > img {
  width: 12%;
}
@media (max-width: 767px) {
  .hero__footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
  }
  .hero__footer > img {
    width: 25%;
  }

}

@media (max-width: 1024px){
  .add-bg {
    background-image: url("/public/images/bg.png");
    background-size: cover;
  }
}